.first-hero{
    background-color: #fff9ef;
    width: 40%;
}
.second-hero{
    width: 60%;
}
.hero-container>div{
    display: flex;
    position: relative;
}

.second-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Message-box{
    position: absolute;
    padding: 100px;
    width: 50%;
    height: 60%;
    left: 28%;
    top: 15%;
    border-radius: 12px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}
.divider{
    width: 120px;
    height: 8px;
    background-color: #a8622b;
    margin-block: 20px;
}
h1{
    padding-bottom: 15px;
}
.icon-wrapper{
    padding-top: 20px;
    color: #a8622b;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.text-link{
    text-decoration: none;
    color: black;
    transition: .5s ease-in;
}
.text-link:hover{
    text-decoration: underline;
}
.icon{
    margin-top: 3px;
    width: 18px;
    height: 18px;
}


@media (max-width: 768px) {
  h1{
    font-size: 24px;
}
.hero-container>div{
    height: 100vh;
}
.Message-box {
    /* position: static; VERY IMPORTANT */
    /* transform: none; */
    height: fit-content;
    width: fit-content;
    transform: translateX(-30%);
    top: 25%;
    padding: 50px;
 
  }
  .first-hero,
  .second-hero {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
 .Message-box{
    height: fit-content;
    width: fit-content;
    top: 25%;
    transform: translateX(-20%);
    padding: 50px;
 }
  h1{
    font-size: 15px;
}
.description{
    font-size: 10px;
}


}